@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.social-icons a::before{
  content: "";
  height: 38px;
  width: 38px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  transform: scale(0);
  transition: 0.3s ease-in-out;
  /* z-index: -1; */
}

.social-icons a:hover::before{
  transform: scale(1);
}

.social-icons a img{
  z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icons a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  
}
.connect-btn{
  position: relative;
  
  
}

.connect-btn::before{
  content: "";
  position: absolute;
  background-color: white;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

.connect-btn:hover{
  color: black;
  z-index: 1;
}
.connect-btn:hover::before{
  width: 100%;
}
/* Import Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* projects section  */

.nav-item::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  left: 0;
  top: 0;
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  transition: 0.3s ease-in-out;
  z-index: -1;
}

.nav-item.active::before{
   width: 100%;
}

.projectCard::before{
     content: '';
     width: 100%;
     height: 0;
     position:absolute;
     background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
     transition: 0.4s ease-in-out;
     opacity: 0.7;
     border-radius: 20px;
}

.projectCard:hover::before{
  height: 100%;
}

/* .contactbtn::before{
  background-color: #121212;
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.contactbtn:hover::before{
  width: 100%;
} */


.email-box::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  z-index: -1;
  border-radius: 20px;
}

.contactbtn{
  position: relative;
  
  
}

.contactbtn::before{
  content: "";
  position: absolute;
  background-color: black;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  /* z-index: -1; */
}

.contactbtn:hover a{
  color: white;
  
  }

  .contactbtn:hover::before{
    z-index: 0;
    width: 100%;
  }